<% layout('layout/page') -%>
<% block('title').append("NSS's: Fine Art Auction"); %>

<article class="slider-gallery">
    <figure class="slider">
        <figure>
            <img src="../images/arts/art_1.jpg" alt="ART">
            <figcaption><a class="nav-anchor" href="/arts">Latin America: Modern Art</a></figcaption>
        </figure>
        <figure>
            <img src="../images/wines/wine_2.jpg" alt="WINE">
            <figcaption><a class="nav-anchor" href="/wines">Finest and Rarest Wines</a></figcaption>
        </figure>
        <figure>
            <img src="../images/watches/watch_2.jpeg" alt="WATCH">
            <figcaption><a class="nav-anchor" href="/watches">The Wish List: Watches</a></figcaption>
        </figure>
        <figure>
            <img src="../images/literature/l_1.jpg" alt="LITERATURE">
            <figcaption><a class="nav-anchor" href="/literatures">The American</a></figcaption>
        </figure>
        <figure>
            <img src="../images/literature/l_1.jpg" alt="LITERATURE">
            <figcaption><a class="nav-anchor" href="/arts">Finest and Rarest Wines</a></figcaption>
        </figure>
    </figure>
</article>
<article class="gallery">
    <h3><h3>YOU FIND YOUR OWN LOT</h3></h3>
    <div class="container">
        <div class="cell">
            <img src="../images/wines/wine_1.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
        <div class="cell">
            <img src="../images/wines/wine_2.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
        <div class="cell">
            <img src="../images/wines/wine_3.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cell">
            <img src="../images/wines/wine_4.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
        <div class="cell">
            <img src="../images/wines/wine_5.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
        <div class="cell">
            <img src="../images/wines/wine_6.jpg" alt="WINE">
            <div class="text">
                <h3>Finest and Rarest Wines</h3>
            </div>
        </div>
    </div>
</article>