<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title><%=blocks.title%></title>
</head>
<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <nav>
        <% include ../partials/topNavigation %>
    </nav>
    <main>
        <%- body %>
    </main>
    <footer>
        <% include ../partials/bottomNavigation %>
    </footer>
</body>
</html>

<!--

-->